
.search-container {
    margin-bottom: 20px;
}

.autocomplete-container {
    display: none;
    margin-left: 7.5%;
}

.autocomplete-card {
    position: absolute;
    z-index: 100;
    background-color: white;
    border: 1px solid rgb(235, 187, 187);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.auto-search-keyword {
    text-align: left;
    cursor: pointer;
} 