.card_box {
    width: 17%;
}

.card_ {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
}

.movie_title {
    width: 100%;
    height: 30px;
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 18px;
    font-weight: bold;
}

.card_ img {
    height: 280px;
}

.card_ .detail_button {
    display: none;
    position: absolute;
}

.card_ .movie_overview, .movie_average {
    display:none;
}