.title {
  font-size: 36px;
  font-weight: bold;
}

.detail_look {
  width: 80%;
}

.card_section {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail_card {
  width: 80%;
}

#review-section {
  inline-size: 100%;
  display: flex;
  flex-wrap: wrap;
}

#review-form,
#reviews-list {
  inline-size: 50%;
}

.delete-button {
  background-color: #ff5555;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff0000;
}

.edit-button {
  background-color: #ff5555;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #ff0000;
}