* {
    justify-content: center; 
    align-items: center;
  }
  
.hide_block {
    inline-size: 100%;
    block-size: 100vh;

    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
}

.detail_card {
    position: relative;
    inline-size: 70%;
}

.detail_delete {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 10px;

    font-size: 24px;
    font-weight: bold;

    cursor: pointer;
}